# Testing Results

All releases undergo a rigorous amount of testing that include:

* Sanity
* Performance
* RF Testing
* Regression
* Testing with real devices (Interop)

Our current community test result dashboards:

Sanity: [http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/sanity/overview/](http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/sanity/overview/)

Interop: [http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/interop/overview/](http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/interop/overview/)

Regression: [http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/regression](http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/regression)

Performance: [http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/performance/overview/](http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/performance/overview/)

RF Testing: [http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/advanced/overview/](http://openwifi-allure-reports.s3-website-us-east-1.amazonaws.com/advanced/overview/)



**Here are the** [**results**](https://telecominfraproject.atlassian.net/wiki/spaces/WIFI/pages/1720254465/2.8+Release+Status+-+Released) **of our testing results for our current release.**

****
